{% extends "base.html" %}

{% block title %}Edit Stash - Ruff{% endblock %}

{% block content %}
    <h1>Edit Stash</h1>
    <form action="{{ url_for('edit_stash', stash_id=stash.id) }}" method="POST" class="edit-form">
        {{ form.hidden_tag() }}
        <textarea name="text" required>{{ form.text.data }}</textarea>
        <button type="submit" class="save-button">Update</button>
    </form>
    <div class="stash-actions">
        <a href="{{ url_for('view_stashes') }}" class="action-button">Back to Stashes</a>
    </div>
{% endblock %}

